@mixin cards {

    .tittle-act {
        display: inline-block;
        color: #732746;
        font-weight: 800;
        font-size: 2rem;
        padding-bottom: 2px;
        margin: 50px 0;
        margin-left: 10%;
    }

    .content-cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        margin-top: 40px;
        margin: auto;
        padding-bottom: 150px;
        justify-content: center;
        gap: 20px;
    }

    .card {
        max-width: 45%;
        transition: 0.3s;

        &:hover {
            box-shadow: 2px 2px 10px #999;
        }

        img {
            transition: 0.3s;

            border-right: solid 1px #999;
            &:hover {
                opacity: 0.9;
            }
        }

        .card-body {
            .btn {
                @include btn-primary;
                &:hover{
                    background-color: #611835;
                }
            }
        }
    }
}

.content-body {
    .actividades {
        background-color: #f3f3f3;
        transition: 0.3s;
        @include cards();

    }

    .novedades {
        background-color: #e1e1e1;
        transition: 0.3s;
        @include cards();
    }
}

.accordion {
    .tittle-manifiesto {
        display: inline-block;
        color: #673047;
        font-weight: 800;
        font-size: 2rem;
        margin-left: 10%;
        border-bottom: solid 2px #673047;
        padding-bottom: 2px;
        margin-top: 50px;
    }

    .accordion-item {
        width: 70%;
        margin: auto;
    }

    .btn {
        @include btn-primary;

        &:hover {
            color: white;
            background-color: #80435b;
        }
    }
}

.content-video {
    width: 100%;
    background-color: #673047;
    height: 600px;
    margin-bottom: 100px;

    .video {
        display: block;
        width: 60%;
        height: 500px;
        margin: auto;
        padding-top: 100px;
    }
}