// titulos de la pagina
@media screen and (max-width:768px) {
    .content-title {
        .tittle-section {
            font-weight: 400 !important;
            font-size: 2.5rem !important;
        }
    }
}

@media screen and (max-width:500px) {
    .content-title {
        margin-bottom: 20px !important;
        padding: 0!important;
        .tittle-section {
            min-width: 100% !important;
            padding: 1px !important;
            font-weight: 400 !important;
            font-size: 1.6rem !important;
        }

    }
}